[user]
	name = Jankees
	email = mail@jankeesvw.com
[color]
	diff = auto
	status = auto
	branch = auto
[fetch]
  prune = true
[diff]
  renames = copies
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = false
[credential]
	helper = osxkeychain
[gist]
	browse = true
	private = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[push]
	default = current
[alias]
  recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100
  fco = !sh -c \"git checkout $(git branch | fzf)\" -
  ff = !git commit --fixup $(git log --pretty=oneline | fzf | cut -c 1-40)
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[rebase]
	autosquash = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -R
	show = diff-so-fancy | less --tabs=1,5 -R
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gc]
	auto = 0
